# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment variables and secrets
.env
.env.*
.streamlit/secrets.toml

# Large Deep Learning model files
*.keras
*.h5
*.hdf5

# Dataset files
*.csv
*.zip

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
